#konvaContainerOuter {
  transform: rotateX(180deg);
  width: 100%;
  height: 100%;
  overflow: auto;
}

#konvaContainer {
  transform: rotateX(180deg);
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  margin: 0px;
  border: 0px solid grey;
}
