#konvaContainerOuter {
  transform: rotateX(180deg);
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  overflow: auto;
}

#konvaContainer {
  transform: rotateX(180deg);
  margin: 0px;
  border: 0px solid grey;
}
