p.narrow_text {
  /* font: bold 12px "Helvetica Neue", Helvetica, Arial, sans-serif; */
  line-height: 18px;
  /* height:75px; */
  margin: 0px;
  display: table-cell;
  vertical-align: middle;
  /* padding: 10px; */
  /* border: 1px solid #f00; */
}